body {
	min-width: 100%;
	max-width: 100%;
}

h1, h3, h5 {
	color: #FFFFFF;
}

/* navbar*/

.container-fluid {
	height: 150px;
}



/* footer */

#footer {
	background-color: black;
	text-align: center;
	color: #FFFFFF;
	height: 80px;
	margin-top: 80px;
	padding-top: 20px;
	font-size: 18px;
}

#footer:hover {
	overflow: hidden;
    opacity: 1;
    color: #24890D;
}