/* CSS de la page Web */

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 650px;
	font-family: "open sans";
	background-image: url(http://localhost/php_challenge2_portfolio/img/dev.png);
	background-size: cover;
	background-repeat: no-repeat;
}


/* CSS de la barre de navigation */

#navbar {
	background-color: #78C6D3;
	margin-left: auto;
	margin-right: auto;
	padding-right: 15px;
}

#navbar a {
	font-size: 20px;
	color: black;
}

#navbar ul li a {
	color: black;
	font-size: 20px;
}

#navbar ul li a:hover {
	color: black;
}


/* CSS dela barre de separation */

#separation {
	height: 50px;
}


/* CSS du corps */


#container-fluid {
	/*background-image: url(http://localhost/php_challenge2_portfolio/img/dev.png);
	background-size: cover;
	background-repeat: no-repeat;*/
}


body #projets {
	background-image: ;
}

#projets h3 {
	text-decoration: underline;
}

#projet1 img {
	width: 300px;
	height: 500px;
}

#presentation h5 {
	color: black;
}

p {
	color:black;
}

/* footer */

footer {
	background-color: #78C6D3;
	text-align: center;
	color: black;
	height: 50px;
	padding-top: 15px;
	position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid white;
}

