/* CSS de la page Web */

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: "open sans";
}


/* CSS de la barre de navigation */

#navbar {
	background-color: white;
	margin-left: auto;
	margin-right: auto;
}

#navbar a {
	font-size: 15px;
	color: #F05F40;
}

#navbar ul li a {
	color: #F05F40;
	font-size: 13px;
}

#navbar ul li a:hover {
	color:black;
}


/* CSS dela barre de separation */

#separation {
	height: 50px;
}


/* CSS du corps */

#container-fluid {
	height: 800px;
	width: 100%;
	padding: 0;
	margin: 0;
}

#presentation {
	height: 200px;
	background-color: ;
	width: 100%;
}

#projet {
	height: 200px;
	background-color: ;
	width: 100%;
}

#competences {
	height: 200px;
	background-color: ;
	width: 100%;
}

#contact {
	height: 200px;
	background-color: ;
	width: 100%;
}




/* footer */

footer {
	background-color: white;
	text-align: center;
	color: #F05F40;
	height: 50px;
	padding-top: 20px;
}

